<h1 class="alert-box alert-primary">KATEGORİ DÜZENLEME</h1>
@model CategoryViewModel
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"> </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>
    <button class="btn btn-primary">Kaydet</button>
    <input asp-for="Created" type="hidden" />

</form>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}